PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_SSLMODE=disable
DB_PASSWORD=password
DB_NAME=sattam_db
JWT_SECRET=your_super_secret_key_change_in_production
EXPO_PUBLIC_API_URL=http://(laptop IP_ADDRESS):8080 
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password